<!DOCTYPE html>
<html>
  <head>
    <title>Omninote</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <script type="text/javascript">function initMap() {
      window.google = google;}</script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe1uekjqT3Rw7U64l1zO_9Tmi1X5jYSH4&callback=initMap"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.staticAssets = {
        greenPlus: "<%= asset_url "green_plus.png"%>",
        note: "<%= asset_url "note.png"%>",
        notebook: "<%= asset_url "notebook.png"%>",
        notes: "<%= asset_url "notes.png"%>",
        plus: "<%= asset_url "plus.png"%>",
        tag: "<%= asset_url "tag.png"%>",
        trash: "<%= asset_url "trash.png"%>",
        account: "<%= asset_url "account.png" %>",
        github: "<%= asset_url "github.png" %>",
        linkedin: "<%= asset_url "linkedin.png" %>",
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
